<!DOCTYPE html>
<html>
  <head>
    <style>
      #ver {
        float: right;
      }
    </style>
  </head>
  <body>
    <div>
      Hiragana Size: <span id="textPct"></span>%
    </div>
    <input id="size" type="range" min="50" max="75" value="50" step="5"/>

    <div>&nbsp;</div>
    <div>
      <a href="mailto:alzzlnewtype@gmail.com" target="_blank">feedback</a>
      <span id="ver"></span>
    </div>

    <script src="../../constants.js"></script>
    <script src="popup.js"></script>
  </body>
</html>